<h1>posts#show</h1>

<%= link_to "posts#index", posts_path %>

<p>
	<strong>TITLE</strong><br>
	<%= @post.title %>
</p>

<p>
	<strong>TEXT</strong><br>
	<%= @post.text %>
</p>

<h2>comments</h2>

<%= render @post.comments.reject { |c| c == @comment } or 'no comments' %>

<h2>new comment</h2>

<%= render 'comments/form' %>

<%= link_to '#edit', edit_post_path(@post) %>
